In [3]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [4]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [5]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [6]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(people)

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [10]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [11]:
# 24-02-2025

In [12]:
df.loc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [13]:
df.loc[[0,1],'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [14]:
df.loc[[0,1],['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [24]:
df.iloc[[1],[1]]

  last
1  Doe

In [25]:
# filtering - Using Conditional to Filter Rows and Columns

In [26]:
df['last']=='Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [27]:
filt = (df['last']=='Doe')

In [28]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [29]:
df[df['last']=='Doe']

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [30]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [31]:
df.loc[filt,'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [33]:
# and and or operators - & |

In [35]:
filt = ((df['last']=='Doe') & (df['first']=='John'))

In [37]:
df.loc[filt,'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [38]:
filt = ((df['last']=='Schafer') | (df['first']=='John'))

In [39]:
filt

0     True
1    False
2     True
dtype: bool

In [40]:
df.loc[filt,'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [42]:
df.loc[~filt,'email']  # ~ - negation sign

1    JaneDoe@email.com
Name: email, dtype: object